<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/aboutbeefStyle.css">
    <script src="static/Script.js" defer></script>
    <title>About our Beef</title>
</head>
<body>
    <div class="top">
        <header class="primary-header flex">
            <div><a href="/dashboard"><img class="logo" id="logo" src="/static/assets/logo.jpeg" alt="logo"></a>
            </div>
            <button class="mobile-nav-toggle"  aria-controls="primary-nav" aria-expanded="false"><span class="sr-only"></span></button>
            <nav>
                <ul id="primary-nav" data-visible="false" class="primary-nav flex">
                    <li class="active"><a href="/whoWeAre">
                        <span aria-hidden="true">00</span>Who We Are</a></li>
                </ul>
            </nav>
        </header>
    <h1>About our beef</h1>
</body>
</html>