<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/whoweareStyle.css">
    <script src="static/Script.js" defer></script>
    <title>Who We Are</title>
</head>
<body>
    <header class="primary-header flex">
        <div><a href="/dashboard"><img class="logo" id="logo" src="/static/assets/logo.jpeg" alt="logo"></a>
        </div>
        <button class="mobile-nav-toggle"  aria-controls="primary-nav" aria-expanded="false"><span class="sr-only"></span></button>
        <nav>
            <ul id="primary-nav" data-visible="false" class="primary-nav flex">
                <li><a href="/aboutbeef">
                    <span aria-hidden="true">01</span>About our Beef</a></li>
            </ul>
        </nav>
    </header>
    <h1>Missouri family owned and operated</h1>
    <p>We are a third generation cattle family from Missouri</p>
</body>
</html>